<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">


    <title>Short URL</title>
</head>
<script>
    function deleteUrl(data)
    {
        const http = new XMLHttpRequest()
        http.open('POST', '/deleteUrl')
        // http.setRequestHeader('Content-type', 'application/json')
        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        http.send(data);
        http.onload = function() {
            console.log("RESPONDED...");
        }
    }

    function openInNewTab(url) {
        window.open(url, '_blank').focus();
    }

    function refresh() {
        window.location = '/';
    }

</script>
<body>
    <script src="https://cdn.jsdelivr.net/gh/sreeharinallapaneni149/push-notifications@232575609b480df39d0af7fa08a7421b07f27bc7/client/client.js"></script>
    <script>
      provideAppId('my-url-shortner-app');
    </script>
  <script>
</script>

    <h2 class="text-center mt-5"> SHORTEN YOUR URL</h2>

    <div class="container">
        <form action="/short" method="POST" class="col-md-12 my-4 form-inline">
            <div class="row justify-content-md-center mt-5">
                <div class="col-auto">
                    <label for="full" class="visually-hidden-focusable">URL</label>
                    <input class="form-control form-control-lg mb-2 text-center" type="url" name="full" id="full" placeholder="Enter URL to shorten it" required>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary btn-lg mb-2 text-center">Shorten</button>
                </div>
            </div>
        </form>

        <span class="display-6 mb-3">
            <i class="bi bi-clock-history"></i> History
        </span>

        <span class="display-6 mb-3 float-end" title="Refresh">
            <i onClick="refresh()" class="bi bi-arrow-clockwise" style="cursor: pointer;"></i>
        </span><br><br>

        <table class="col-md-8 table table-responsive table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Full URL</th>
                    <th>Short URL</th>
                    <th>Clicks</th>
                    <th>Created At</th>
                    <th>Recent Click</th>
                </tr>
            </thead>

            <tbody>
                <% urls.forEach(url => { %>

                    <tr>
                        <td>
                            <%= urls.indexOf(url)+1 %>
                        </td>
                        <td>
                            <span style="color: blue; text-decoration: underline; cursor: pointer;" onClick="openInNewTab('<%= url.full %>')" href="<%= url.full %>"><%= url.full.length>40 ? url.full.substring(0, 20) +'...' : url.full %></span>
                        </td>
    
                        <td>
                            <span style="color: blue; text-decoration: underline; cursor: pointer;" onClick="openInNewTab('<%= url.short %>')" href="<%= url.short %>"><%= url.short %></span>
                        </td>
    
                        <td><%= url.clickCount %></td>
                        <td><%= url.createdDate.toLocaleString()%></td>
                        <td><%= url.recentClick.toLocaleString() %></td>
                        <td class="text-center"><i onClick = "deleteUrl('<%= url.short %>'); refresh()" class="bi bi-trash btn-danger" style="cursor: pointer;"></i></td>
                    </tr>

                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>